.process-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.step {
  text-align: center;
  max-width: 120px;
}

.step i {
  font-size: 30px;
  color: #0b2a4a;
  margin-bottom: 10px;
}

.step p {
  font-size: 14px;
}

/* BOTÓN FLOTANTE HOME */
.btn-home {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 55px;
  height: 55px;
  background: #0b2a4a;
  color: white;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 1000;
}

/* Hover */
.btn-home:hover {
  background: #164d80;
  transform: scale(1.1);
}

/* Click */
.btn-home:active {
  transform: scale(0.95);
}

.cta {
  text-align: center;
  margin: 20px;
}

/* BOTÓN FLOTANTE PEDIDO */
.btn-pedido-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: #25D366; /* estilo WhatsApp */
  color: white;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 5px 20px rgba(37, 211, 102, 0.4);
  z-index: 1000;
  transition: 0.3s;
}

/* Hover */
.btn-pedido-float:hover {
  transform: scale(1.1);
}

/* Click */
.btn-pedido-float:active {
  transform: scale(0.95);
}

/* Boton Principal */
.btn-principal {
  background: #25D366;
  color: white;
  padding: 14px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}
