}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b2a4a;
  color: white;
}

/* Hero /
.hero {
  text-align: center;
  padding: 40px 20px 20px;
}

.logo-principal {
  width: 180px;
  margin-bottom: 10px;
}

.lema {
  font-size: 14px;
  opacity: 0.8;
}

/ Grid tipo app /
.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 20px;
}

/ Tarjetas */
.card {
  background: #08213a;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.card span {
  font-size: 30px;
  display: block;
  margin-bottom: 8px;
}

.card:hover {
  background: #0d3b66;
  transform: scale(1.05);
